/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Button default */
button {
  cursor: pointer;
  border: none;
  outline: none;
}
